@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(206, 218, 193);
  font-size: large;
  font: black;

}

h1 {
  color:rgba(4, 4, 24, 0.808);
  align-self: center;
  font-style: normal;
  font: black; 
}
